
body{
    font-family:arial;
}

.subscribe-button{
    border:none;
    background-color:black;
    color:rgb(244, 238, 238);
    font-weight:bold;
    padding-left:15px;
    padding-right:15px;
    padding-top:10px;
    padding-bottom:10px;
    border-radius:50px;
    cursor:pointer;
    margin-bottom:10px;
}

.is-subscribed{
    border:none;
    background-color: rgb(220, 219, 219);
    color:black;
    font-weight:bold;
    padding-left:15px;
    padding-right:15px;
    padding-top:10px;
    padding-bottom:10px;
    border-radius:50px;
}

.js-cost-input{
    font-size:15px;
    padding-left:10px;
    padding-right:15px;
    padding-top:10px;
    padding-bottom:10px;
}

.Calculate{
    background-color:rgb(15, 149, 15);
    border:none;
    color:white;
    font-size:15px;
    padding-left:15px;
    padding-right:15px;
    padding-top:10px;
    padding-bottom:10px;

}